// Add your own CSS here!
:root {
  --light: #faf8f8;
  --dark: #141021;
  --secondary: #c28e0e;
  --tertiary: #373a36;
  --visited: #ceb888;
  --primary: #c28e0e;
  --gray: #373a36;
  --lightgray: #9d968d;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
}

[saved-theme="dark"] {
  --light: #1e1e21 !important;
  --dark: #fbfffe !important;
  --secondary: #c28e0e !important;
  --visited: #ceb888 !important;
  --tertiary: #373a36 !important;
  --primary: #c28e0e !important;
  --gray: #9d968d !important;
  --lightgray: #373a36 !important;
  --outlinegray: #000000 !important;
}
